*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 28, 28);
}

header{
    width: 100%;
    height: 12vh;
    background-image: linear-gradient(rgb(216, 4, 4), rgb(218, 160, 1));
    display: flex;
    justify-content: flex-end;
      
    
}

.logo{
   justify-content: flex-start;
   margin-right: 30%;
   width:10vw;
    
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    height: 10vh;
    right: 100px;
    
}

li {
    margin: 2rem;
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.3rem;
    margin-right: 3rem;   
}

li a{
    text-decoration: none;
    color: black;
  
}

.imgCorpo{
    width: 100%;
}

/* Texto no corpo*/

#historia h1{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    font-family: 'Grenze Gotisch', serif;
    font-size: 3rem;
    color: white;   
    margin-top: 2rem;
}

.paragrafoHistoria{
    font-family: 'Grenze Gotisch', serif;
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;  
}
.ge-ye-ci{
    margin-top: 3rem;
    margin-left: 4rem;
    width: 90%;
    border-radius: 5%;
    border: solid white;   
}

main{
    background-color: rgb(29, 28, 28);
}

/*o mapa e texto continente*/
.continente h1{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: white;
    font-family: 'Grenze Gotisch', serif;
    font-size: 3rem;
   
}

#historia2{
    height: vh;
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.5rem;
    text-align: justify;
    color: white;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    
}
.mapa{
    margin-top: 3rem;
    margin-left: 21rem;
    width: 50%;
    border-radius: 5%;
    border: solid white;
    
}

/* Elenco*/

#elencoh1 h1{
    display: flex;
    justify-content: center;
    font-family: 'Grenze Gotisch', serif;
    font-size: 4rem;
    color: white;
    margin-top: 50px;
}

.elencoimg{
  display: flex;
  justify-content: space-around;
}

.cardcavil img{
    width: 20vw;
    margin-top: 80px;
    border-radius: 20px;
    border: solid white;  
}

.cardyen img{
    width: 20vw;
    margin-top: 80px;
    border-radius: 20px;
    border: solid white;
}

.cardciri img{
    width: 20vw;
    margin-top: 80px;
    border-radius: 20px;
    border: solid white;
}

.cardcavil :hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.cardyen :hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.cardciri :hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
 
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

 .card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: white;
}


@media (max-width: 500px){
    
header{
    width: 100%;
    height: 16vh;
    background-image: linear-gradient(rgb(216, 4, 4), rgb(218, 160, 1));
    position: fixed;
 
}


.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 35vw;
}

body .imgCorpo{
    margin-top: 7rem;
}


ul {
    display: none; 
}
  
 #historia h1{
    font-size: 2rem;
    margin-top: 1rem;
}

.paragrafoHistoria{
     font-size: 1rem;
     margin-top: 0rem;

}
    
.ge-ye-ci{
     display: flex;
     margin-left: 1.5rem;
     margin-top: 1rem;
}

.continente h1{
    font-size: 2rem;
    margin-top: 3rem;
}

.mapa{
    display: flex;
    margin-left: 1.5rem;
    width: 90%; 
    margin-top: 1rem;
}

#historia2{
    font-size: 1rem;
    margin-top: 1rem;
}

#elencoh1 h1{
    font-size: 2rem;
    margin-top: 1rem;
}

.card-content h2{
    font-size: 0.8rem;
    
}

.card-content h3{
    font-size: 0.7rem;
    color: rgb(165, 142, 42);

}


.elencoimg{
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
}
  
.cardcavil img{
    margin-top: 20px;
    width: 80%;
     
}
  
.cardyen img{
    margin-top: 20px;
    width: 80%;
}

.cardciri img{
    margin-top: 20px;
    width: 80%;
     
}

.card-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}


}